.intro__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 1.07; /* line-height: 58px; */
}

/* 768 - font-size: 54px; */
/* 320 - font-size: 32px; */
@media screen and (max-width: 768px) {

    .intro__title {
        font-size: calc( (100vw - 320px)/(768 - 320) * (54 - 32) + 32px);
    }
}

@media screen and (max-width: 425px) {

    .intro__title {
        line-height: 1.1; /* line-height: 35px; */
    }
}